@media (max-width: 1309px) {
  header .icon {
    display: block;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .list-item {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    background-color: var(--footer-b-bg);
    display: none;
    height: 400px;
    z-index: 2100;
  }

  .list-item li {
    text-align: center;
    display: block;
    border-bottom: 1px solid #ebe8e8;
    float: none;
  }
  .list-item li a {
    color: var(--text-white);
  }
  .toggle {
    background: var(--primary-text);
  }
}
